@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

::ng-deep body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 2.35;

  margin: 0;

  background-color: #49796b;
}

.view-container {
  font-variant: petite-caps;

  max-width: 1000px;
  margin: 0 auto;
  padding: 36px;

  color: #fff;

  h1 {
    font-size: 30px;
  }

  label {
    font-weight: bold;

    margin-right: 12px;
  }

  select {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    padding: 2px;
    padding-left: 4px;

    cursor: pointer;

    color: #fff;
    border: 3px solid #fff;
    border-radius: 2px;
    background: none;
  }

  select option {
    color: black;
  }

  button {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;

    display: block;

    height: 42px;
    padding: 8px;

    cursor: pointer;

    color: #fff;
    border: 3px solid #fff;
    border-radius: 2px;
    background: none;
  }
}

.playerList {
  padding: 0;
}

.playerRow {
  display: flex;

  height: 40px;
  padding-bottom: 12px;

  -webkit-animation: float-in-right 0.4s ease;
  animation: float-in-right 0.4s ease;

  button {
    margin-left: 12px;
  }

  img {
    width: 40px;
    padding-left: 12px;

    -webkit-animation: float-in-left 0.3s ease;
    animation: float-in-left 0.3s ease;

    background-color: #49796b;
  }
}

.shake {
  -webkit-animation: shake 0.5s;
  animation: shake 0.5s;
}

.pool-ball-text {
  position: relative;
  z-index: -1;
  right: 25px;
  bottom: 1px;

  -webkit-animation: fade-in 0.5s;
  animation: fade-in 0.5s;
}

/*
Animations
   ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

@keyframes shake {

  from,
  to {
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translate3d(10px, 0, 0);
  }

}

@keyframes float-in-right {

  from {
    transform: translate3d(100%, 0, 0);

    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);

    opacity: 1;
  }

}

@keyframes float-in-left {

  from {
    transform: translate3d(-100%, 0, 0);

    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);

    opacity: 1;
  }

}
@keyframes fade-in {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}
