.card {
  display: block;
  width: 240px;
  height: 240px;
  padding: 8px;
  background-color: #a5d9ba;
  color: #124409;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #124409 !important;
  }
}

.card__image {
  width: 100%;
  height: auto;
}

.card__title {
  margin: 0 0 8px;
}

.card__date {
  margin: 0 0 4px;
  font-size: 0.8em;
  opacity: 0.6;
}

.card__description {
  margin: 0;
  font-size: 0.9em;
}
