<main>
    <header>
        <h1>Projects</h1>
    </header>

    <div class="project-entries-wrapper">
        <h2 class="project-group-title">Web Apps</h2>
        <section class="project-group">
            <a class="project-card" href="projects/kelly-pool">
                <h3 class="project-card__title">Kelly Pool</h3>
                <p class="project-card__description">Number generator for Kelly Pool</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/kelly-pool">
                <h3 class="project-card__title">Kelly Pool</h3>
                <p class="project-card__description">Number generator for Kelly Pool</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/kelly-pool">
                <h3 class="project-card__title">Kelly Pool</h3>
                <p class="project-card__description">Number generator for Kelly Pool</p>
                <img class="project-card__image">
            </a>
        </section>

        <h2 class="project-group-title">Digital Doodles</h2>
        <section class="project-group">
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
            <a class="project-card" href="projects/farm-with-windmill">
                <h3 class="project-card__title">Farm with Windmill</h3>
                <p class="project-card__description">Test</p>
                <img class="project-card__image">
            </a>
        </section>

        <h2 class="project-group-title">Stitching</h2>
        <section class="project-group">
            <a class="project-card" href="projects/kelly-pool">
                <h3 class="project-card__title">Kelly Pool</h3>
                <p class="project-card__description">Number generator for Kelly Pool</p>
                <img class="project-card__image">
            </a>
        </section>
    </div>
</main>
