<main>
    <header>
        <h2>Daniel Ocheltree</h2>
        <img src="../../assets/profile.webp" alt="profile picture" width="294" height="392">
    </header>

    <article>
        <section class="info">
            <i class="position">Software Engineer.</i>
            <i class="location">McLean, VA</i>
            <br>
            <a class="email" href="mailto:danielocheltree@gmail.com">danielocheltree@gmail.com</a>
        </section>
        <section class="biography">
            <p>
                Virginia Tech Class of 2019 // Computer Science Major // Software Developer at Capital One
                <br> <br>
                I enjoy rock climbing, listening to music, making css art, reading, and buying clothes.
            </p>
        </section>
        <section class="links">
            <ul>
                <li>
                    <label>LinkedIn</label>
                    <a target="_blank" rel="noopener noreferrer" href="https://www.linkedin.com/in/ocheltreedaniel/">@ocheltreedaniel</a>
                </li>
                <li>
                    <label>CodePen</label>
                    <a target="_blank" rel="noopener noreferrer" href="https://codepen.io/doaky/">@doaky</a>
                </li>
                <li>
                    <label>GitHub</label>
                    <a target="_blank" rel="noopener noreferrer" href="https://github.com/Doaky">@doaky</a>
                </li>
                <li>
                    <label>Resume</label>
                    <a target="_blank" rel="noopener noreferrer" href="/assets/daniel_ocheltree_resume.pdf">/resume</a>
                </li>
                <li>
                    <label>Projects</label>
                    <a href="/kellypool">/projects</a>
                </li>
            </ul>
        </section>
    </article>
</main>
